<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Trial</title>
</head>

<body style="background:#f9f8fa; padding:3em;">
    {{>header}}
    <div
        style="padding:3em; width:40em; margin:0 auto; background:#FFF; border:1px solid #ebe7ef; border-radius:2em; text-align:center;">
        <div>
            <img src="https://i.imgur.com/mNSjiDM.png" height="200" />
            <h1 style="color:#272e4f; font-size:2em;">Obrigado pelo interesse no Caramelo!</h1>
            <p style="color:#272e4f; font-size:1.2em; line-height:1.8em; margin-bottom:3em;">Agradecemos por preencher o
                formulário e demonstrar interesse em fazer parte dessa jornada conosco. Em breve, entraremos em contato
                para fornecer mais informações sobre o programa de teste gratuito por 6 meses. Estamos ansiosos para
                trabalhar em conjunto e receber seus valiosos feedbacks. Fique atento ao seu email e telefone, pois
                entraremos em contato em breve. Obrigado novamente por se juntar ao Caramelo!</p>
            <p style="color:#272e4f; font-size:1.2em; line-height:1.8em; margin-bottom:3em;">Enquanto aguarda nosso
                retorno, fique a vontade para conhecer nosso site e tirar suas dúvidas :)</p>
            <a style="display:inline-block; padding:1.5em; border-radius:2em; color:#FFF; font-size:1.3em; text-decoration:none; font-weight:bold; background:#272e4f;"
                href="https://appcaramelo.com.br" target="_blank" title="Link externo: Site Caramelo">Visite nosso
                site</a>
        </div>
    </div>
    {{>footer}}
</body>

</html>