<footer style="background:#f9f8fa; color:#7e8296; margin-top:3em;">
    <div>
        <div>
            <a href="https://instagram.com/appcaramelo">
                <img src="https://i.imgur.com/4BM28VV.png" alt="Instagram" style="margin:0 auto; display:block"
                    height="40" />
            </a>
        </div>
    </div>
    <div style="text-align: center;">
        <p style="line-height:1.8em; font-size:1.10em;">Caramelo ® 2024 - Todos os direitos reservados<br />CNPJ:
            33.716.749/0001-99 - Estrada Guilherme Weigert, 2245 - Curitiba/PR<br /><a style="color:#7e8296;"
                href="https://appcaramelo.com.br" target="_blank" title="Link externo: Site Caramelo">Saiba mais em
                appcaramelo.com.br</a></p>
    </div>
</footer>