<header style="background:#f9f8fa; margin-bottom:3em;">
    <div>
        <img src="https://i.imgur.com/XC037qZ.png" alt="Caramelo - Logo" style="margin:0 auto; display:block"
            height="50" />
    </div>
</header>